NUXT_PUBLIC_APP_URL=http://localhost:3000

CATALOG_PROVIDER=shopify
SHOPIFY_STORE_DOMAIN=
SHOPIFY_STOREFRONT_API_VERSION=2025-01
SHOPIFY_STOREFRONT_ACCESS_TOKEN=

SANITY_PROJECT_ID=
SANITY_DATASET=production
SANITY_API_VERSION=2025-01-01
SANITY_TOKEN=
